<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Dashboard</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item active">Home</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>
<section class="content">
	<ul class="col-md-12">
		<div class="row">
			<div class="col-lg-3 col-6">
				<div class="small-box bg-warning">
					<div class="inner">
						<h3>{{usuarios}}</h3>

						<p>Usuários</p>
					</div>
					<div class="icon">
						<i class="ion ion-person-add"></i>
					</div>
					<a href="/app/usuarios/usuarios" class="small-box-footer">Mais informações
						<i class="fas fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
	</ul>
</section>